<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Book Name :</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Book Author</label>
                    <input type="text" class="form-control" name="author" [(ngModel)]="author">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Published Year</label>
                    <input type="text" class="form-control" name="year" [(ngModel)]="year">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="">Stock</label>
                    <input type="text" class="form-control" name="stock" [(ngModel)]="stock">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValue()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>